<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>PSIFY</title>
</head>
<body>
        <%- include('partials/header') %>
    
    <h2> Listagem de músicas disponíveis</h2>
    <br>

    <table border="1">
    <tr>
        <th> Titulo </th>
        <th> Artista </th>
        <th> Album </th>
        <th> Género </th>
        <th> Duração (sec) </th>
        <th> Likes </th>
        <th> Data de Lançamento </th>
        <th> Eliminar</th>
    </tr>
    
    <% for (let i = 0; i < songs.length; i++) { %>
      <tr>
         <td> <%= songs[i].id %> </td>
         <td> <%= songs[i].artist %> </td>
         <td> <%= songs[i].album %> </td>
         <td> <%= songs[i].genre %> </td>
         <td> <%= songs[i].duration_seconds %> </td>
         <td> <%= songs[i].likes %> </td>
         <td> <%= songs[i].released_date %> </td>
         <td> <button onclick="eliminar(<%= songs[i].id %>)"> Eliminar </button> </td>
      </tr>
   <% } %>
</table>

<script>
   function eliminar(index){
   let id= index;
   axios.delete(`/api/songs/${id}`)
   .then(response => {
       console.log('Success:', response.data);
       location.reload();
   })
   .catch((error) => {
       console.error('Error:', error);
   });
}
</script>

<h2> Receitas: </h2>

</script>
</body>
</html>